<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10;url={{ url_for('squeeze') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='washing.css')}}">
    <title>Перемо...</title>
</head>
<body>
    <div class="washing"></div>
        <h1>Перемо<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></h1>
        <img src="https://cdn-icons-png.flaticon.com/512/114/114730.png">
    </div>
</body>
</html>